<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div>
                <div class="col-md-12">
                    <div>
                        <h1>Oops!</h1>
                        <h2>404 Not Found</h2>
                        <div>An error has occurred, requested page not found!</div><br>
                        <div class>
                            <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
