<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div>
            <div class="col-md-12">
                <div>
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <div>An error has occurred, requested page not found!</div><br>
                    <div class>
                        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
