<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <form th:action="@{/addresses/add}" th:object="${address}" method="post">
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" th:field="*{country}" id="country" placeholder="Country">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" th:field="*{city}" id="city" placeholder="City">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" th:field="*{street}" id="street" placeholder="Street">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
                </div>
                <div class="form-group">
                    <label for="streetNumber">Street Number</label>
                    <input type="text" class="form-control" th:field="*{streetNumber}" id="streetNumber" placeholder="Street Number">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}"></div>
                </div>
                <input type="hidden" th:field="*{user}" id="user" th:value="${address.user.id}">
                <input type="submit" class="btn btn-primary" value="Add">
            </form>
        </div>
    </body>
</html>