<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h1 th:text="${tutor.name + ' ' + tutor.surname}"></h1>
        <h2 th:if="${comments.empty}">No comments yet!</h2>
        <div th:if="${!comments.empty}">
            <h2>Comments</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Created/Updated</th>
                    <th>Student</th>
                    <th>Feedback</th>
                    <th th:if="${user.isAdmin()}">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:text="${#temporals.format(comment.timestamp, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${comment.student.name + ' ' + comment.student.surname}"></td>
                    <td th:text="${comment.feedback}" style="white-space: pre;"></td>
                    <td th:if="${user.isAdmin()}">
                        <a class="btn btn-danger" th:href="@{/admin/comments/delete/{id}(id=${comment.id})}" role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form th:action="@{/tutors/{id}/comments/add(id=${tutor.id})}" th:object="${comment}" method="post">
            <div class="form-group">
                <label for="feedback">Comment</label>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('feedback')}" th:errors="*{feedback}"></div>
                <textarea class="form-control" th:field="*{feedback}" id="feedback" rows="3" placeholder="Leave a comment"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
</html>