<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="login-form">
            <div class="alert alert-danger" role="alert" th:if="${param.error}">Email or password is invalid, please verify</div>
            <form th:action="@{/login}" method="post">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
                <div class="clearfix">
                    <p class="text-center"><a th:href="@{/registration}">Create an Account</a></p>
                </div>
            </form>
        </div>
    </body>
</html>