<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}"></div>
            <div class="alert alert-warning" role="alert" th:if="${warningMessage}" th:text="${warningMessage}"></div>
            <h1>My Consultations</h1><br>
            <h2 th:if="${user.isTutor() and createdConsultationsPast.empty and createdConsultationsFuture.empty}">You have not created any consultations yet!</h2>
            <div th:if="${user.isTutor() and !(createdConsultationsPast.empty and createdConsultationsFuture.empty)}">
                <h2>Created Consultations</h2>
                <h3 th:if="${!createdConsultationsPast.empty}">Past Consultations</h3>
                <table th:if="${!createdConsultationsPast.empty}" class="table">
                    <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>Tutor</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consultation : ${createdConsultationsPast}">
                        <td th:text="${#temporals.format(consultation.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${consultation.subject.subjectName}"></td>
                        <td th:text="${consultation.description}"></td>
                        <td th:text="${consultation.address.street + ' ' + consultation.address.streetNumber + ', ' + consultation.address.city + ', ' + consultation.address.country}"></td>
                        <td th:text="${consultation.tutor.name + ' ' + consultation.tutor.surname}"></td>
                        <td><a class="btn btn-primary" th:href="@{/consultations/{id}(id=${consultation.id})}" role="button">View</a></td>
                    </tr>
                    </tbody>
                </table>
                <h3 th:if="${!createdConsultationsFuture.empty}">Future Consultations</h3>
                <table th:if="${!createdConsultationsFuture.empty}" class="table">
                    <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Available places</th>
                        <th>Address</th>
                        <th>Tutor</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consultation : ${createdConsultationsFuture}">
                        <td th:text="${#temporals.format(consultation.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${consultation.subject.subjectName}"></td>
                        <td th:text="${consultation.description}"></td>
                        <td th:if="${consultation.students == null}" th:text="${consultation.maxStudentsNumber}"></td>
                        <td th:if="${consultation.students != null}" th:text="${consultation.maxStudentsNumber - consultation.students.size()}"></td>
                        <td th:text="${consultation.address.street + ' ' + consultation.address.streetNumber + ', ' + consultation.address.city + ', ' + consultation.address.country}"></td>
                        <td th:text="${consultation.tutor.name + ' ' + consultation.tutor.surname}"></td>
                        <td><a class="btn btn-primary" th:href="@{/consultations/{id}(id=${consultation.id})}" role="button">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${user.isTutor()}">
                <a class="btn btn-primary btn-lg active" href="/consultations/add">Add a new consultation</a><br><br>
            </div>
            <h2 th:if="${registeredToConsultationsPast.empty and registeredToConsultationsFuture.empty}">You are not registered to any consultations yet!</h2>
            <div th:if="${!(registeredToConsultationsPast.empty and registeredToConsultationsFuture.empty)}">
                <h2>Registered to Consultations</h2>
                <h3 th:if="${!registeredToConsultationsPast.empty}">Past Consultations</h3>
                <table th:if="${!registeredToConsultationsPast.empty}" class="table">
                    <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>Tutor</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consultation : ${registeredToConsultationsPast}">
                        <td th:text="${#temporals.format(consultation.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${consultation.subject.subjectName}"></td>
                        <td th:text="${consultation.description}"></td>
                        <td th:text="${consultation.address.street + ' ' + consultation.address.streetNumber + ', ' + consultation.address.city + ', ' + consultation.address.country}"></td>
                        <td th:text="${consultation.tutor.name + ' ' + consultation.tutor.surname}"></td>
                        <td><a class="btn btn-primary" th:href="@{/consultations/{id}(id=${consultation.id})}" role="button">View</a></td>
                    </tr>
                    </tbody>
                </table>
                <h3 th:if="${!registeredToConsultationsFuture.empty}">Future Consultations</h3>
                <table th:if="${!registeredToConsultationsFuture.empty}" class="table">
                    <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Available places</th>
                        <th>Address</th>
                        <th>Tutor</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consultation : ${registeredToConsultationsFuture}">
                        <td th:text="${#temporals.format(consultation.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${consultation.subject.subjectName}"></td>
                        <td th:text="${consultation.description}"></td>
                        <td th:if="${consultation.students == null}" th:text="${consultation.maxStudentsNumber}"></td>
                        <td th:if="${consultation.students != null}" th:text="${consultation.maxStudentsNumber - consultation.students.size()}"></td>
                        <td th:text="${consultation.address.street + ' ' + consultation.address.streetNumber + ', ' + consultation.address.city + ', ' + consultation.address.country}"></td>
                        <td th:text="${consultation.tutor.name + ' ' + consultation.tutor.surname}"></td>
                        <td><a class="btn btn-primary" th:href="@{/consultations/{id}(id=${consultation.id})}" role="button">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>