<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form action="#" th:action="@{/my-comments/update/{id}(id=${comment.id})}" th:object="${comment}" method="post">
            <div class="form-group">
                <label for="feedback">Comment</label>
                <textarea type="text" class="form-control" rows="3" th:field="*{feedback}" id="feedback" value="${comment.feedback}"></textarea>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('feedback')}" th:errors="*{feedback}"></div>
            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
</html>