<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h2>Update Password</h2>
        <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}"></div>
        <form th:action="@{/update-password}" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="oldPassword">Old password</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password">
                <div class="alert alert-danger" role="alert" th:if="${oldPasswordError}" th:text="${oldPasswordError}"></div>
            </div>
            <div class="form-group">
                <label for="newPassword">New password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password">
                <div class="alert alert-danger" role="alert" th:if="${newPasswordError}" th:text="${newPasswordError}"></div>
            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
</html>